{% extends 'base.html' %}

{% block page_title %}
    Add post    
{% endblock %}
{% block page_content %}

<form method="post" id="post-edit">

    <label for="title">Title</label>

    <input name="title" id="title" required>

    <label for="content">Content</label>

    <textarea type="content" name="content" id="content" required></textarea>
    <br>
    <input type="submit" value="Add">
    <br>
  {% if message %}
    <label class="error"> {{ message }} </label>
  {% endif %} 
  </form>
{% endblock %}