{% extends 'base.html' %}

{% block page_title %}
    <a href="{{ url_for('show', post_id=post['id'])}}">
        {{ post['title'] }} 
        <div class="post-creation">
        {{ post['created'] }}
        </div>
    </a>
{% endblock %}

{% block page_actions %}
<a class="page-action page-action-green" href="{{ url_for('edit', post_id=post['id']) }}">Edit</a>
{% endblock %}
{% block page_content %}
  {% if post %}
    <div class="post-content">
        {% filter markdown %}
        {{ post['content'] }}
        {% endfilter %}
    </div>
  {% endif %}

{% endblock %}

