{% extends 'base.html' %}

{% block page_title %}
    Login    
{% endblock %}
{% block page_content %}

<form method="post">

    <label for="username">Username</label>

    <input name="username" id="username" required>

    <label for="password">Password</label>

    <input type="password" name="password" id="password" required>
    <br>
    <input type="submit" value="Login">
    <br>
    {% if message %}
    <label class="error"> {{ message }} </label>
  {% endif %} 
  </form>
{% endblock %}